<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.teamcity.domain.TeamCityBuildInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock tcInformation" th:classappend="${svh.getCssClassForBuild(appInfo)}">
    <a th:title="${appInfo.configId} + ' / ' + ${appInfo.description}" th:href="${appInfo.webUrl}" th:target="_blank">
        <span th:text="${appInfo.label}"/>
    </a>

    <span th:if="${appInfo.isRunning()}" class="build-progress">
        <img th:if="${appInfo.isSuccessful()}" th:src="@{/images/running_green_transparent.gif}" src="../../static/images/running_green_transparent.gif" />
        <img th:if="${not appInfo.isSuccessful()}" th:src="@{/images/running_red_transparent.gif}" src="../../static/images/running_red_transparent.gif" />
        <span th:text="${appInfo.percentageComplete} + '%'"/>
    </span>

    <span th:if="${!appInfo.isSuccessful()}" class="build-statistics" th:title="${'Failed / Passed / Ignored / Total: ' + appInfo.testsTotal}">
        <span th:if="${appInfo.testsFailed > 0}" class="tests-failed" th:text="${appInfo.testsFailed}" />
        <span th:if="${appInfo.testsPassed > 0}" class="tests-passed" th:text="${appInfo.testsPassed}" />
        <span th:if="${appInfo.testsIgnored > 0}" class="tests-ignored" th:text="${appInfo.testsIgnored}" />
    </span>
</span>

</body>
</html>
