<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverName" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="environment" type="java.lang.String"*/-->
<!--/*@thymesVar id="streamworksRuns" type="java.util.List<ch.mobi.mobitor.plugin.streamworks.domain.StreamworksStatusInformation>"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - HTTP Status- ' + ${screen.configKey}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">Streamworks Status</h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">Back</a> to index.
</p>

<div class="statusInfoList">
    <div>
        <div class="label">Server:</div>        <div th:class="data" th:text="${serverName}"></div>
    </div>
    <div>
        <div class="label">Application:</div>   <div th:class="data" th:text="${applicationName}"></div>
    </div>
    <div>
        <div class="label">Environment:</div>      <div th:class="data" th:text="${environment}"></div>
    </div>
</div>

<div th:each="streamworksRun : ${streamworksRuns}">
    <!--<h2>Jobs Details from: <span th:text="${lastRun.verarbeitung}"></span> </h2>-->
    <table>
        <thead>
        <tr>
            <th>Stream Name</th>
            <th>Run Number</th>
            <th>Stream Run Status</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Documentation Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stream : ${streamworksRun.getStreamList()}">
            <td>
                <a th:if="${stream.getRuntimeLink() != null}" th:href="${stream.getRuntimeLink()}" target="_blank">
                    <i th:class="${stream.getStatusIcon()}" th:style="${stream.getStatusStyle()}"></i>
                    <span th:text="${stream.streamName}"> Stream Name </span>
                </a>
                 <i th:if="${stream.getRuntimeLink() == null}" th:class="${stream.getStatusIcon()}" th:style="${stream.getStatusStyle()}">
                     <span th:text="${stream.streamName}"> Stream Name </span>
                 </i>
            </td>
            <td><span th:text="${stream.getRunNumber()}"> Run Number </span> </td>
            <td><span th:text="${stream.getStreamRunStatus()}"> Stream Run Status </span> </td>
            <td><span th:text="${stream.getParsedStartDateTime()}"> Start Time </span> </td>
            <td><span th:text="${stream.getParsedEndDateTime()}"> End Time </span> </td>
            <td style="text-align: left">
                <a th:if="${stream.getDocumentationLink() != null}" th:href="${stream.getDocumentationLink()}" target="_blank">
                    <i class="fa fa-sitemap"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
